location /${SERVICE_PATH}/ {
	internal;

	rewrite /${SERVICE_PATH}/(.*) /${DOLLAR}1  break;
	allow 127.0.0.1;
	resolver ${SERVICE_DNS};
	deny all;

	proxy_pass http://${SERVICE_URL}.${SERVICE_DOMAIN}/${DOLLAR}1${DOLLAR}is_args${DOLLAR}args;
}
